.sm-spinner{
  border: 12px solid rgba(30,150,240,.2);
  border-right-color: var(--bs-primary);
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  animation: rotate 1s infinite linear;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
  transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.overlay {
  z-index: 999;
  background-color: #00000038;
  position: fixed;
  width: 100%;
  height: 100%;
}