h3 {
  font-size: 34px;
  margin-top: 23px;
  margin-bottom: 11.5px;
  font-weight: 400;
  line-height: 1.1;
  color: #444444;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 11.5px;
  margin-bottom: 11.5px;
  color: #444444;
}

.container {
  padding-top: 20px;
}

a {
  color: var(--bs-primary);
  text-decoration: none;
  cursor: pointer;
}

.pull-center {
  padding-left: 60px;
}