a {
    cursor: pointer;
    color: #2196f3 !important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline !important;
}

body {
    font-size: 14px !important;
}

.table>tbody>tr>td {
    vertical-align: top !important;
    line-height: 1.846 !important;
}

.text-right {
    text-align: right !important;
}