.custom-table {
    border-collapse: collapse;
    width: 100%;
  }

  .custom-table th,
  .custom-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
  }

  .no-data {
    font-weight: 300;
    color: #000;
  }