blockquote{
    padding: 10px 23px;
    margin: 0 0 23px;
    font-size: 16.25px;
    border-left: 5px solid #eeeeee;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 6px;
    margin-inline-end: 30px;
}